@import "../../../styles.scss";

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 50px !important;

  a {
    border-bottom: 3px solid transparent;
  }

  a.active {
    border-bottom: 3px solid $bordersColor;
    color: $bordersColor;
  }

  .nav-link {
    padding: 0.7rem 1rem !important;
  }

  button {
    margin: 0 10px;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.35rem rgb(0 0 0) !important;
}
