<app-table *ngIf="listOfRequests" [tableCharacters]="listOfRequests"></app-table>

<div *ngIf="!listOfRequests" class="container div-no-requests dark-div mb-5 mt-5">
  <div class="row mt-4">
    <div class="col-12">
      <p>There are no requests yet, be the first to create one!</p>
    </div>
  </div>
  <div class="row mt-4 mb-4 justify-content-center">
    <div class="col-auto">
      <a class="btn btn-success" routerLink="/students/sign-up" role="button">Sign Up</a>
    </div>
  </div>
</div>
