@import "../../../styles.scss";

.table-container {
  box-shadow: 0px 0px 10px 3px #000000;
  border-radius: 10px;
  --animate-duration: 0.3s;
}

table {
  vertical-align: middle;
  text-align: center;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 8px !important;
  margin-right: auto;
  margin-left: auto;

  tbody {
    border-top: 2px solid $bordersColor;
  }

  img {
    height: 163px !important;
    border-radius:8px;
    border: 2px solid #303234;
    box-shadow: 0px 0px 10px 0px #000000;
  }
}

.filters-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #212529;
  border-bottom: 2px solid $bordersColor;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
}

.pagination-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #212529;
  border-top: 2px solid $bordersColor;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.select-group {
  background-color: #32373b;
  color: white;
  font-weight: 500;
  padding: 5px 0;
  border-radius: 5px;
}

i {
  color: $bordersColor;
}
